#carousel.carousel.slide(data-ride='carousel')
  ol.carousel-indicators
    li.active(data-target='#carousel', data-slide-to='0')
    li(data-target='#carousel', data-slide-to='1')
    li(data-target='#carousel', data-slide-to='2')
  .carousel-inner(role='listbox')
    .item.active
      img(src='/images/col-01.jpg')
      .carousel-caption
        h3 一生所爱
        p 从前 现在 过去 再不来 红红 落叶 长埋 尘土内
    .item
      img(src='/images/col-02.jpg')
      .carousel-caption
        h3 一生所爱
        p 从前 现在 过去 再不来 红红 落叶 长埋 尘土内
    .item
      img(src='/images/col-03.jpg')
      .carousel-caption
        h3 一生所爱
        p 从前 现在 过去 再不来 红红 落叶 长埋 尘土内